<template>
  <base-container title="Vuex">
    <the-counter></the-counter>
    <h3>{{ counter }}</h3>
    <button @click="addOne">add 10</button></base-container
  >
</template>

<script>
import BaseContainer from './components/BaseContainer.vue';
import TheCounter from './components/TheCounter.vue';

export default {
  components: {
    BaseContainer,
    TheCounter
  },
  methods: {
    addOne() {
      /* this.$store.commit('increase', { value: 10 });
      //or  this.$store.commit({type:'increase',  value: 10 });*/
      this.$store.dispatch('increase', { value: 10 });
      // this.$store.dispatch({type:'increase',  value: 10 })
    }
  },
  computed: {
    counter() {
      return this.$store.getters.normalisedCounter;
    }
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
</style>
