<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue Basics</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="styles.css" />
		<script src="https://unpkg.com/vue@next" defer></script>
		<script src="app.js" defer></script>
	</head>
	<body>
		<header>
			<h1>Events</h1>
		</header>
		<section id="assignment">
			<h2>Event Practice</h2>
			<!-- 1) Show an alert (any text of your choice) when the button is pressed -->
			<button v-on:click="showAlert">Show Alert</button>
			<hr />
			<!-- 2) Register the user input on "keydown" and output it in the paragraph (hint: event.target.value helps) -->
			<input type="text" v-on:keydown="userInput($event)" />
			<p>Output: {{text}}</p>
			<hr />
			<!-- 3) Repeat 2) but only output the entered value if the ENTER key was pressed -->
			<input type="text" v-on:keyup.enter="showOnEnter($event)" />
			<p>Output: {{confirmedText}}</p>
		</section>
	</body>
</html>
