<template>
  <div id="activeUser">
    <input type="text" v-model="name" /><br /><br />
    <input type="text" v-model="age" />
    <UserData :name="name" :age="age"></UserData>
  </div>
</template>
<script>
import UserData from "./UserData.vue";

export default {
  components: { UserData },
  name: "activeUser",
  data() {
    return {
      name: "",
      age: ""
    };
  }
};
</script>
