<template>
  <section class="container">
    <!--<h2>{{ user.name }}</h2>
    <h4>{{ user.age }}</h4>-->

    <user-data
      :firstName="firstName"
      :lastName="lastName"
      :age="user.age"
    ></user-data>
    <button @click="setAge">set age</button><br />

    <input type="text" placeholder="First name" v-model="firstName" /><br />
    <input
      type="text"
      placeholder="Last name"
      v-model="lastName"
    /><!--ref="lastNameInput" -->
  </section>
</template>

<script>
import { ref, watch } from 'vue';
import { reactive, computed } from 'vue';
import UserData from '../../vue-app/src/components/UserData.vue';

export default {
  components: { UserData },
  setup() {
    //const user = ref({ name: 'Maxmilian', age: 32 });
    const firstName = ref('');
    const lastName = ref('');
    const lastNameInput = ref(null);
    const user = reactive({ name: '', age: 45 });
    let uAge = ref(25);
    /*   setTimeout(function () {
      user.name = 'Max';
      user.age = 36;
    }, 2000);*/
    function setAgeNew() {
      // setName();
      uAge.value = uAge.value + 1;
      return (user.age = user.age + 1);
    }
    user.name = computed(function() {
      return firstName.value + ' ' + lastName.value;
    });
    function setName() {
      lastName.value = lastNameInput.value.value;
    }
    watch(uAge, function(newAge, oldAge) {
      console.log(oldAge, newAge);
    });
    return {
      user: user,
      setAge: setAgeNew,
      firstName,
      lastNameInput,
      lastName,
      setName
    };
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 3rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  text-align: center;
}
</style>
