<template>
  <div>
    <Header :title="Resources"></Header>
    <ul>
      <ResourceItem
        v-for="storedResource in storedResources"
        :key="storedResource.id"
        :title="storedResource.name"
        :description="storedResource.description"
        :link="storedResource.link"
      ></ResourceItem>
    </ul>
  </div>
</template>
<script>
import ResourceItem from './components/resources/ResourceItem.vue';
import Header from './components/Layout/Header.vue';
export default {
  components: { ResourceItem, Header },
  data() {
    return {
      storedResources: [
        {
          id: 'official-guide',
          name: 'Official-guide',
          description: 'Official vue.js documentation',
          link: 'https://vue.js.org'
        },
        {
          id: 'google',
          name: 'Google',
          description: 'Learn to google..',
          link: 'https://google.com'
        }
      ]
    };
  }
};
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
</style>
