<template>
  <ul>
    <li :class="{ active: activeOption === 'poor' }">
      <button type="button" @click="activate('poor')">
        Poor
      </button>
    </li>
    <li :class="{ active: activeOption === 'average' }">
      <button type="button" @click="activate('average')">
        Average
      </button>
    </li>
    <li :class="{ active: activeOption === 'good' }">
      <button type="button" @click="activate('good')">
        Good
      </button>
    </li>
  </ul>
</template>
<script>
export default {
  name: 'ratingControl',
  data() {
    return {
      activeOption: null
    };
  },
  methods: {
    activate(option) {
      this.activeOption = option;
    }
  }
};
</script>
<style scoped>
.active {
  border-color: yellowgreen;
}
.active button {
  color: yellowgreen;
}
ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  display: flex;
}
li {
  margin: 0 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
button {
  background: transparent;
  border: none;
}
</style>
