<template>
  <section>
    <user-alert
      v-if="alertIsVisible"
      title="Delete the User?"
      @close="hideAlert"
    >
      <p>Do you want to continue with deleting a user?</p>
    </user-alert>
    <section>
      <h2>Delete a User</h2>
      <button @click="showAlert">Delete User</button>
    </section>
  </section>
</template>

<script>
import UserAlert from './UserAlert.vue';
import mixinContent from '../mixins/mixinFile.js';
export default {
  components: {
    UserAlert,
  },
  mixins: [mixinContent],
};
</script>
