<template>
  <ul>
    <ResourceItem
      v-for="storedResource in storedResources"
      :key="storedResource.id"
      :title="storedResource.name"
      :description="storedResource.description"
      :link="storedResource.link"
    ></ResourceItem>
  </ul>
</template>
<script>
import ResourceItem from './Users/izingasoftware/vue-3-practice/prj-cmp-01-starting-setup/src/components/resources/ResourceItem.vue';
export default {
  components: { ResourceItem },
  props: ['storedResources']
};
</script>
<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
  max-width: 40rem;
}
</style>
