<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue Basics</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="styles.css" />
		<script src="https://unpkg.com/vue@next" defer></script>
		<script src="app.js" defer></script>
	</head>
	<body>
		<header>
			<h1>Vue Lists and Conditional Content</h1>
		</header>
		<section id="assignment">
			<h2>Assignment</h2>
			<!-- 1) Add code to manage a list of tasks in a Vue app -->
			<!-- When clicking "Add Task" a new task with the entered text should be added -->
			<input type="text" v-model="newTask" />
			<button @click="addTask">Add Task</button>
			<ul v-if="listVisible">
				<li v-for="(task,index) in tasks" :key="task">
					{{index+1}} - {{task}}
				</li>
				<!-- 2) Output the list of tasks here -->
			</ul>
			<!-- 3) When the below button is pressed, the list should be shown or hidden -->
			<!-- BONUS: Also update the button caption -->
			<button @click="listVisible=!listVisible">
				{{listVisible ? 'Hide':'Show'}}
			</button>
		</section>
	</body>
</html>
