<template>
  <div>
    <p>{{ goals.mainGoal }}</p>
    <p v-if="showMessage">{{ mainGoal.goal }}</p>
    <button @click="toggle">Toggle visibility</button>
  </div>
  <!--<h2>My Course Goal</h2>-->
  <!-- Task 1: Output your main course goal with help of the composition API -->
  <!-- Don't hardcode it into the template, instead hardcode it into the JS code -->
  <!--<h3>OUTPUT COURSE GOAL</h3>-->
  <!-- Task 2: Toggle (show/ hide) the goal with help of the button  -->
  <!--<button>Toggle Goal</button>-->
  <!-- Task 3: Manage data in three ways -->
  <!-- => Separate refs -->
  <!-- => Ref Object -->
  <!-- => Reactive Object -->
  <!-- Task 4: Also solve the assignment with the Options API -->
</template>

<script>
import { ref } from 'vue';
import {} from 'vue';
export default {
  setup() {
    //   const mainGoal = ref('To learn new features of vue3 ');
    //  let showMessage = ref(true);
    const goals = ref({ mainGoal: 'Learn new features of vue3 ' });
    const mainGoal = reactive({ goal: 'Learn javascript,vue updates' });
    //  const mainGoal = ref('Learn new features of vue3 ');
    let showMessage = ref(true);
    function toggle() {
      showMessage.value = !showMessage.value;
      goals.value.mainGoal = 'Practice Vue3';
      mainGoal.goal = 'Practice Vue3';
    }
    return { mainGoal, showMessage, toggle, goals };
  }
};
</script>

<style>
html {
  font-family: sans-serif;
}
body {
  margin: 3rem;
  text-align: center;
}
</style>
