<template>
  <section>
    <h2>{{ uName }}</h2>
  </section>
</template>
<script>
import { computed } from 'vue';
export default {
  props: ['firstName', 'lastName', 'age'],
  setup(props, context) {
    const uName = computed(function() {
      console.log(props.firstName + ' ' + props.lastName);
      return props.firstName + ' ' + props.lastName;
    });

    return { uName };
  },
  created() {
    console.log('hi');
  }
};
</script>
<style scoped></style>
